<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qchelper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CheckActivity"
            android:label="@string/title_activity_check" >
        </activity>
        <activity
            android:name=".RemarkActivity"
            android:label="@string/title_activity_remark" >
        </activity>
        <activity
            android:name=".PicActivity"
            android:label="@string/title_activity_pic" >
        </activity>
        <activity
            android:name=".ImageShowActivity"
            android:label="@string/title_activity_image_show" >
        </activity>
        <activity
            android:name=".ConsetActivity"
            android:label="@string/title_activity_conset" >
        </activity>
        <activity
            android:name="com.qchelper.main.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
    </application>

</manifest>